@{
    ViewData["Title"] = "Home Page";
}

<h1>СОздание счета:</h1>
<form id="frmCreateSimpleAccount">
    Наименование счета: <input type="text" name="title" />
    Остаток: <input type="number" />
    <button id="Ok">Создать счёт</button>
    <input type="reset" value="Очистить" />

</form>

@section Scripts
{
    <script src="~/js/account-operation.js"></script>


}